

.contenedor{
	perspective: 1000px;
	perspective-origin: 50% 50%;
}
.cubo {
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	margin: 120px auto;
	animation: giro 20s infinite linear;
}
@-webkit-keyframes giro {
	0%{
		transform: rotateX(-45deg)
		           rotateY(0deg);
	}
	50%{
		transform: rotateX(45deg)
		           rotateY(360deg);
	}
	100%{
		transform: rotateX(-45deg)
		           rotateY(720deg);
	}
}

.cubo, .cubo > div {
	height: 290px;
	width:  290px;
}

.cara {
	position: absolute;
	border: 5px solid black;
	opacity: 0.9;
}
.cubo .cara:nth-child(1) {
	background: red;
	transform: translateZ(150px);
}
.cubo .cara:nth-child(2) {
	background: green;
	transform: translateZ(-150px);
}
.cubo .cara:nth-child(3) {
	background: blue;
	transform: translateX(-150px)
			   rotateY(-90deg);
}
.cubo .cara:nth-child(4) {
	background: orange;
	transform: translateX(150px)
			   rotateY(90deg);
}
.cubo .cara:nth-child(5) {
	background: white;
	transform: translateY(-150px)
			   rotateX(-90deg);
}
.cubo .cara:nth-child(6) {
	background: yellow;
	transform: translateY(150px)
			   rotateX(90deg);
}

#piramide {
	position: relative;
	margin: 80px auto;
	height: 500px;
	width: 100px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(30deg);
	-webkit-transform-origin:116px 200px 116;

}
#piramide > div {
	position: absolute;
	border-style: solid;
	border-width: 200px 0px 200px 346px;
	-webkit-transform-origin: 0 0;
}

#piramide > div:nth-child(1){
	border-color: transparent
				  transparent
				  transparent
				  rgba(0,0,0 0.8);
	-webkit-transform: rotateX(-60deg)
					   rotateY(19.5deg);

}
#piramide > div:nth-child(2){
	border-color: transparent
				  transparent
				  transparent
				  transparent

}
#piramide > div:nth-child(3){
	border-color: transparent
				  transparent
				  transparent
				  transparent

}
#piramide > div:nth-child(4){
	border-color: transparent
				  transparent
				  transparent
				  transparent

}
